window {
  background-color: black;
  color: black;
  font-family: Tahoma;
  font-size: 10px;
}
#img1 {
  box-shadow: none;
  border: none;
  text-decoration: none;
}
button,
entry,
box {
  /* 
        //margin: 150px;  */
  /* margin: 2em 79.1em 1em 79.1em  ; */

  /* background: rgb(226, 198, 43); */
  box-shadow: none;
  background: transparent;
  text-decoration: none;
  border: none;
  border-radius: 0;
}
button:hover,
box:hover {
  text-shadow: none;
}

#myGrid {
  padding-left: 100px;
  padding-top: 250px;
  padding-bottom: 46px;
  /* background-color: red; */
  /* padding: 15em; */
  background-image: none;
  background-image: url("../img/background.png");

  background-size: 100%, 100%;
  background-repeat: no-repeat;
}
#buttonSingIn,
#buttonSingUp {
  border-radius: 60px;
}
/* #buttonSingIn{
  margin-bottom: 20px;
} */
#buttonSingUp {
  border-radius: 60px;
  margin-bottom: 200px;
}
#buttonSingUp2 {
  border-radius: 60px;
  margin-bottom: 50px;
}
#buttonSingIn:hover {
  background: rgb(223, 222, 222);
  transition: 3s linear;
}
#buttonSingUp:hover {
  background: rgb(153, 25, 25);
  transition: 3s linear;
}

#ChatName {
  margin-left: 20px;
  margin-bottom: 20px;
}

#entry {
  color: grey;
  margin-top: 20px;
  font-size: 15px;
  border-radius: 0px;
  border-color: #494949;

  border-style: none none solid none;
  border-width: 2px;
  background: transparent;
}
#entryError {
  color: grey;
  margin-top: 20px;
  font-size: 15px;
  border-radius: 0px;
  border-color: red;

  border-style: none none solid none;
  border-width: 2px;
  background: transparent;
}
#aaaaa {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
}

/* Оснвоная страница чатов */
#wrapper {
  padding-top: 15px;
  /* padding-bottom: 20px; */
  background: transparent;
  background-image: none;
  background-image: url("../img/mainBG.png");
  /* background-size: 100%, 100%; */
  background-repeat: no-repeat;
}
#wrapper1 {
  padding-top: 15px;
  /* padding-bottom: 20px; */
  background: transparent;
  background-image: none;
  background-image: url("../img/mainBG1.png");
  /* background-size: 100%, 100%; */
  background-repeat: no-repeat;
}
#wrapper2 {
  padding-top: 15px;
  /* padding-bottom: 20px; */
  background: transparent;
  background-image: none;
  background-image: url("../img/mainBG2.png");
  /* background-size: 100%, 100%; */
  background-repeat: no-repeat;
}

#scrole {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-left: 29px;
  margin-right: 23px;
  background-color: rgba(117, 114, 114, 0.7);
  border-radius: 40px;
}

#imgButtonMenu,
#backImgButtonMenu {
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: rgba(24, 21, 21, 0.7);
  border-radius: 100px;
}
/* поиск  */
#topBox {
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: rgba(24, 21, 21, 0.7);
  border-radius: 100px;
}
#searchEntry {
  /* padding-top: 5px; */
  color: rgb(255, 255, 255);
  margin-left: -35px;
  text-decoration: none;
  font-size: 25px;
}
/*-----------*/

#imgChatMenu {
  /* margin-left: 5px; */
  background-color: blue;
  border-radius: 50px;
}
#nameChatMenu {
  font-weight: bold;
  color: #050505;
  /* margin-left: 10px; */
  font-size: 20px;
}
#timeChatMenu {
  color: #2b2b2b;
  /* margin-right: 10px; */
  font-size: 15px;
}
#lastMassageChatMenu,
#countMessageChatMenu {
  /* margin-top: -15px; */
  color: #2b2b2b;
  /* background-color: crimson; */
  font-size: 15px;
}
#countMessageChatMenu {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 15px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 15px;
  background-color: #8b5d5d;
  border-radius: 10px;
}

/* формирование окна чата*/
#chatField {
  margin-top: 4px;
}
#chatHeaderColor {
  margin-top: -22px;
  margin-left: 6px;
  background-color: rgb(47, 48, 49);
}
#chatHeader {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  border-radius: 40px;
  padding: 8px 20px;
  background-color: rgba(141, 141, 141, 0.1);
}
#chatFooterColor {
  margin-bottom: -52px;
  margin-bottom: 0;
  margin-left: 6px;
  background-color: rgb(47, 48, 49);
}
#name {
  font-size: 20px;
  color: white;
}
#chatFooter {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 40px;
  padding: 8px 20px;
  background-color: rgba(141, 141, 141, 0.1);
}
#textArea {
  color: white;
  font-size: 15px;
}

/*-----------settings------*/
/* #imgFon {
  padding: 4px;

} */
#menu {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(14, 1, 1);
  font-size: 40px;
  -webkit-text-stroke: 0.07em rgba(0, 0, 0, 0.5);
  text-shadow: 0.07em 0 rgb(47, 48, 49);
}
#menu4{
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(14, 1, 1);
  font-size: 30px;
  -webkit-text-stroke: 0.07em rgba(0, 0, 0, 0.5);
  text-shadow: 0.07em 0 rgb(47, 48, 49);
}
#userButtSet {
  padding-top: 20px;
  border-top: 4px solid rgb(47, 48, 49);
}
#backImgButtonMenu {
  margin-left: 40px;
  margin-right: 50px;
}
#settings {
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgba(117, 114, 114, 0.7);
  border-radius: 20px;
}
#settings1 {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 4px solid rgb(47, 48, 49);
  border-top: 4px solid rgb(47, 48, 49);
}
#Logout {
  /* font-style: inherit; */
  /* font-weight: bold; */
  color: rgb(14, 1, 1);
  font-size: 40px;
  /* -webkit-text-stroke: currentcolor; 
  color: green; */
  -webkit-text-stroke: 0.07em rgba(0, 0, 0, 0.5);
  text-shadow: 0.07em 0 rgb(47, 48, 49);
}
#MesBOX {
  padding: 0 20px 0 20px;
}
#mesfon {
  margin-bottom: 15px;
  font-size: 20px;
  padding: 10px;
  background-color: #dbdbdb;
  border-radius: 15px;
}
#time{
  padding-left: 8px;
  color:#2b2b2b;
  font-size: 10px;
}
#entr{
  background-color: #797979;
  border-radius: 8px;
  font-size: 15px;
  padding: 8px;
  margin-right: 15px;
}
